DISCORD_TOKEN=
DATABASE_URL=sqlite+aiosqlite:///botforge.db
LAVALINK_HOST=
LAVALINK_PASSWORD=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
DASHBOARD_SECRET=
DASHBOARD_API_KEY=
AUTO_SYNC_COMMANDS=true
DEV_GUILD_ID=
EMBED_FOOTER_ICON=https://cdn.discordapp.com/attachments/1484888992209047696/1487168273240952923/file_00000000f688720abc73d778f13d5c871.png
